!!! XML
!!!
%html{html_attrs('ja')}
  %head
    %meta{ 'http-equiv' => 'content', :content => 'text/html; charset=utf-8'}
    %title GyazoToFlickr
  %body
    %h1 GyazoToFlickr
    %h2 Whats this?
    %p Gyazo クライアントを使って Flickr にアップロードが出来るウェブサービスです。
    %p このサイトで登録をして、 Gyazo クライアントに設定をすると、あなたの Flickr に |
       Gyazo クライアントから画像を送信することが出来ます。 |

    %h2 Signup
    %a{:href => '/signup'} 登録する

